@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
  --purple: #776E99;
  --pink: #DA7F7D;
  --peach: #f7c098;
  --violet: #B5728E;
  scroll-behavior: smooth;
}

body {
  background-color: var(--violet);
  font-family:"Poppins", sans-serif;
}

section {
  scroll-margin-top: 73px; /*to prevent fixed navbars from covering content*/
}

/* navbar start */
.navbar {
  background: linear-gradient(to right, var(--purple), var(--pink));
  
}

.navbar-brand,
.nav-link {
  font-size: 20px;
  font-weight: 500;
  color: var(--peach);
}

.nav-item {
  margin: auto;
}

.nav-link:hover,
.active {
  color: var(--pink) !important;
}

/* navbar end */


/* home section start*/
.title, .multiple-text {
  display: inline-block;
  margin-left: 8px;
}
.title{
  color: var(--peach);
  
}

.multiple-text {
  color: var(--purple);
  position: relative;
}

.multiple-text::before{
  content: "";
  position: absolute;
  top: 0;    
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--violet); 
  /*have to change to website background color */
  border-left: 2px solid var(--purple);
  animation: animate 4s steps(12) infinite;

}

@keyframes animate {
  40%, 60% {
    left: 100%;
  } 


  100%{
    left: 0;
  }

}

.text {
  color: var(--peach);
  font-size: 1.1rem;
  text-align: center;
}

.social-media {
  font-size: 1.7rem;
  display: flex;
  justify-content: center;

}

.social-media a {
  margin: 0 10px;
  color: var(--peach);
  
}

.social-media a:hover {
  transform: scale(1.2);
  transition: transform all 0.6s ease;
}

.intro {
   text-align: center;
}

.home-img img{
  animation: updown 4s linear infinite;
}
@keyframes updown {
  0% {
    transform: translateY(-18px);
  }
  50% {
    transform: translateY(18px);
  }
  100% {
    transform: translateY(-18px);
  }
  
}
/* home section end */


/* about section start */
.about .row {
  background-color: var(--purple);
}

.about .row h4 {
  color: var(--peach);
  text-align: center;
}

.profile {
  border: 1px solid var(--peach);
  border-radius: 50%;
  height: 150px;
  width: 140px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.aboutme-text {
  color: var(--peach);
  text-align: justify;
}

.img-container{
    display: flex;
    justify-content: center;
}

.about-btn {
  font-size: 17px;
  font-weight: 500;
  background-color: var(--peach);
  color: var(--violet);
}

.about-btn:hover {
  background-color: var(--peach);
  color: var(--pink);
}

.about-btn:active {
  border-color: var(--peach) !important;
  color: var(--peach) !important;
}
/* about section end */


/* skills sections start*/
.skills h4 {
  color: var(--peach);
  text-align: center;
  
}

.skill-main {
  width: 35vw;
  margin: auto;
}
.skill-main .info{
  display: flex;
  justify-content: space-between;
  margin: 0;
  height: 27px;
}

.skill-main .info p{
  color: var(--peach);
}

.progress {
  width: 35vw;
  padding: 0;
}

.progress-bar {
  border-radius: 0.376rem;
  background-color: var(--purple);
  padding: 0;
  margin: 0;

}

.html {
  animation: html 4s;

}
@keyframes html {
  0% {
    width: 0;
  }
  100% {
    width: 82%;
  }
}

.css {
  animation: css 4s;

}
@keyframes css {
  0% {
    width: 0;
  }
  100% {
    width: 81%;
  }
}

.javascript {
  animation: javascript 4s;

}
@keyframes javascript {
  0% {
    width: 0;
  }
  100% {
    width: 70%;
  }
}

.react {
  animation: react 4s;

}
@keyframes react {
  0% {
    width: 0;
  }
  100% {
    width: 61%;
  }
}

.sql {
  animation: sql 4s;

}
@keyframes sql {
  0% {
    width: 0;
  }
  100% {
    width: 66%;
  }
}

.php {
  animation: php 4s;
}

@keyframes php {
  0% {
    width: 0;
  }
  100% {
    width: 58%;
  }
}

.responsive {
  animation: responsive 4s;

}

@keyframes responsive {
  0% {
    width: 0;
  }
  100% {
    width: 82%;
  }
}
/* skills sections start*/


/* projects section start */
.projects .row {
  background-color: var(--purple);
}

.projects .row h4{
  color: var(--peach);
  margin-top: 30px;
  text-align: center;
}


.card {
  position: relative;
  width: 300px;
  height: 200px; /*mobile siw 150px*/
  overflow: hidden;
  margin-bottom: 50px;
}

.card img{
  width: 300px;
  height: 200px;
  
}


.card-body{
  position: absolute;
  top: 10%;
  left: 0;
  height: 100%;
  transform: translateY(100%);
  color: var(--pink);
}
.card-body a i {
  color:#f7514e;
  cursor: pointer;
}


.card:hover .card-body{
  transition: 2s ease;
  transform: translateY(0);
  
}

.card:hover img {
  filter: blur(10px);
  -webkit-filter: blur(10px);
  transition: 1s;
}
/* projects section end */

/* contact section start*/
.contact .row{
  width: 60%;
  margin: 75px 0 55px 0;
  background-color: var(--purple);
  border-radius: 10px;
}
.contact .row h4 {
  text-align: center;
  padding: 25px 0;
  color: var(--peach);
}

.contact div img {
  animation: updown 4s linear infinite;
}
.contact form input, .contact form textarea,.contact form button{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border-radius: 10px;
  margin-bottom: 15px;
}

.contact form input, .contact form textarea {
  border: 1px solid white;
}

.contact form textarea  {
  width: 350px;
  height: 25vh;
}

.contact form input {
  height: 35px;
}

.contact form button {
  width:100px;
  height: 40px;
  margin-bottom: 25px;

}

.contact form button span {
  font-weight: 500;
  margin: auto;
}

/* contact section end*/




/* footer start */
footer {
  margin:0 ;
  height: 75px;
  background: linear-gradient(to right, var(--purple), var(--pink));
  color: var(--peach);
}

footer {
  padding-top: 33px ;
}
/* footer end */


/* scroll on animation */
.hidden {
   opacity: 0;
   filter: blur(6px);
   transform: translateY(10%);
   transition: all 1s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateY(0);

}


/* preloader */
#preloader {
  position: fixed;
  inset: 0;
  z-index: 9999;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: var(--violet);
  transition: 0.7s;
}


#preloader::before,
#preloader::after {
    content: "";
    position: absolute;
    border: 5px solid var(--peach);
    border-radius: 50%;
    animation: animate-loader 2s cubic-bezier(0, 0.22, 0.65, 1) infinite;

}


#preloader::after {
  animation-delay: -0.6s;
}


@keyframes animate-loader {
  0% {
      width: 10px;
      height: 10px;
      top: calc(50% - 5px);
      left: calc(50% - 5px);
      opacity: 1;
  }

  100% {
      width: 100px;
      height: 100px;
      top: calc(50% - 50px);
      left: calc(50% - 50px);
      opacity: 0;
  }
}




/* media query */
@media screen and (min-width: 992px) {
  .nav-link {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 36px;
    height: 40px;
    transition: all 0.6s ease;
    overflow: hidden;
  }
  .active,
  .nav-link:hover,
  .nav-link:focus-visible {
    border-radius: 10px;
    width: 125px;
    color: var(--pink);
    background: var(--peach);
    box-shadow: 0 4px 12px rgba(245, 190, 94, 0.721);
  }

  .link-title {
    opacity: 0;
    transform: translateX(10px);
    transition: opacity 0.6s ease;
    white-space: nowrap;
  }

  .nav-link:hover .link-title,
  .nav-link:focus-visible .link-title,
  .nav-link.active .link-title {
    opacity: 1;
    transform: translateX(0);
  }
}

@media screen and (min-width: 0px) and (max-width: 420px) {
  body {
    font-size: 0.8rem;
  }

  .title {
    font-size: 1rem;
  }
  .multiple-text{
    font-size: 1rem;
  }

  .social-media, .text {
    font-size: 0.8rem;
  }

  body .about-btn{
    font-size: 0.8rem;
  }
  
  .profile {
    height: 95px;
    width: 85px;
  }
  .aboutme-text {
    margin-top: 20px;
  }
  .hideText {
    display: none;
  }
  
}

@media screen and (min-width: 421px) and (max-width: 550px)  {
  .text {
    font-size: 1.1rem;
  }

  .social-media {
    font-size: 1.2rem;
  }
  
}


@media screen and (min-width: 421px) and (max-width: 767px) {
  .aboutme-text {
    margin-top: 20px;
  }
  
  .profile {
    height: 125px;
    width: 115px;
  }
  
}

@media screen and (min-width: 0) and (max-width: 767px) {

  .skill-main {
    width: 60vw;
  }
  .progress {
    width: 60vw;;
  }
  .contact .row {
    width: 80%;
  }
  .contact form textarea {
    width: 250px;

  }
  .contact form button span {
    font-size: 15px;
  }
  
}


@media(prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}
